body, html, #map-canvas{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
path.hex {
  /*fill: #0cf;*/
  /*fill-opacity: 0;*/
  stroke: #f3f0df;
  stroke-width: 1.5px;
  stroke-opacity: .5;
  transition:  fill .000001s, fill-opacity .000001s;
  -moz-transition:  fill .000001s, fill-opacity .000001s;
  -webkit-transition: fill .000001s, fill-opacity .000001s;
  -o-transition:  fill .000001s, fill-opacity .000001s;
  /*opacity: 0;*/
}

/*path:hover {
  fill: brown;
  fill-opacity: .7;
}
*/
.hex{
  fill: #0cf;
}
.svg-flash.auto-fault{
  fill: #8DA0CB;
    fill-opacity: .95;
  stroke-opacity: .1;
  stroke-width: 1.5px;
  stroke-opacity: .5;

}
.svg-flash.bike-fault{
  fill: #FC8D62;
    fill-opacity: .95;
  stroke-opacity: .1;
  stroke-width: 1.5px;
  stroke-opacity: .5;

}
.svg-flash.none-fault{
  fill: #8df6cc;
    fill-opacity: .95;
  stroke-opacity: .1;
  stroke-width: 1.5px;
  stroke-opacity: .5;

}
.svg-flash{
  /*fill: #fff;*/
  fill-opacity: .95;
  stroke-opacity: .1;
  /*opacity: 1;*/
}
#date-show{
position: absolute;
top: 20px;
right: 20px;
color: #FFF;
font-size: 28px;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue", Helvetica,sans-serif;
font-weight: 300;
background-color: #000;
padding: 0 10px;

}

#chart-show{
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 350px;
  height: 200px;
}
#legend{
  list-style: none;

  position: absolute;
  right: 20px;
  top: 57px;
  color: #ccc;
  font-size: 28px;
  margin:0;
  padding: 0;
}

.color-box{
  display: inline-block;
  width: 50px;
  height: 20px;
  background-color: #0cf;
}

#bike{
  background-color: #FC8D62;
}
#auto{
  background-color: #8DA0CB;
}
#other{
  background-color: #8df6cc;
}

